<!DOCTYPE html>
<html>
<head>
	<title>Airbnb</title>
</head>
<body>

	<h1>Welcome to Airbnb</h1>
	<img src="https://cdn.iconscout.com/icon/free/png-256/airbnb-1-282216.png" height="150" width="150">


</body>
</html>



<button><%= link_to "Sign in with Google", "/auth/google_oauth2" %></button>

